.userList {
  display: flex;
  background-color: gray;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border: 1px solid #000;
  border-radius: 16px;
}

.element {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: black;
  font-size: large;
  font-size: 30px;
  font-weight: bold;
}

li span:first-child {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 36px;
  font-weight: normal;
}

.userInfo {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: gray;
  font-weight: 200;
  font-size: 32px;
}

.photo {
  display: block;
  border-radius: 50%;
  background-color: gray;
}

.firstParagraph {
  color: black;
  font-weight: bold;
  font-size: 48px;
}
