.friendInfo {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: black;
  font-weight: 200;
  font-size: 32px;
}

.isOnline {
  composes: friendInfo;
  font-size: 32px;
  color: green;
}

.isOffline {
  composes: friendInfo;
  font-size: 32px;
  color: red;
}
